.winbox.modern {
    background: linear-gradient(90deg, #ff00f0, #0050ff);
    border-radius: 12px 12px 0 0;
}

.winbox.modern.max,
.winbox.modern.min {
    border-radius: 0;
}

.winbox.modern.max{
    /* fix iOS bug when border-radius is changed, wtf? */
    overflow: visible;
}

.winbox.modern .winbox-title {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
}

.winbox.modern .winbox-icon span{
    opacity: 0.65;
}

.winbox.modern .winbox-icon span:hover{
    opacity: 1;
}

.winbox.modern .winbox-body {
    /* width of window border: */
    margin: 4px;
    color: #fff;
    background: #131820;
}

.winbox.modern .winbox-body::-webkit-scrollbar {
    width: 12px;
}
.winbox.modern .winbox-body::-webkit-scrollbar-track {
    background: transparent;
}
.winbox.modern .winbox-body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #263040;
}
.winbox.modern .winbox-body::-webkit-scrollbar-thumb:window-inactive {
    background: #181f2a;
}
.winbox.modern .winbox-body::-webkit-scrollbar-corner {
    background-color: #181f2a;
}
