.winbox.modern {
  background: linear-gradient(90deg, #ff00f0, #0050ff);
  border-radius: 12px 12px 0 0;
  animation: popup 0.3s cubic-bezier(0.3, 1, 0.3, 1) backwards;
}
.winbox.modern:not(.min):not(.focus) {
  background: #666;
}
@media (hover: hover) {
  .winbox.modern.min:not(:hover) {
    background: #666;
  }
}
@media (hover: none) {
  .winbox.modern.min {
    background: #666;
  }
}
.winbox.modern.max,
.winbox.modern.min {
  border-radius: 0;
}
.winbox.modern .wb-title {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
}
.winbox.modern .wb-icon * {
  opacity: 0.65;
}
.winbox.modern .wb-icon *:hover {
  opacity: 1;
}
.winbox.modern .wb-body {
  /* width of window border: */
  margin: 4px;
  color: #fff;
  background: #131820;
}
.winbox.modern .wb-body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.winbox.modern .wb-body::-webkit-scrollbar-track {
  background: transparent;
}
.winbox.modern .wb-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #263040;
}
.winbox.modern .wb-body::-webkit-scrollbar-thumb:window-inactive {
  background: #181f2a;
}
.winbox.modern .wb-body::-webkit-scrollbar-corner {
  background: transparent;
}
@keyframes popup {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
