@import "images.less";

.winbox {
  position: fixed;
  left: 0;
  top: 0;
  background: #0050ff;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: width .3s, height .3s, transform .3s;
  transition-timing-function: cubic-bezier(0.3, 1, 0.3, 1);
  will-change: transform, width, height;
  contain: strict;
  z-index: 10;
}
/*
.winbox:fullscreen{
  transition: none !important;
}
*/

.winbox-header {
  display: table;
  table-layout: fixed;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  height: 35px;
  color: #fff;
  vertical-align: middle;
  z-index: 10;
}

.winbox-body {
  position: absolute;
  left: 0;
  right: 0;
  top: 35px;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  will-change: scroll-position;
  background-color: #fff;
  margin-top: 0 !important;
  box-sizing: border-box;
}

.winbox-title{
  display: table-cell;
  font-size: 14px;
  text-align: left;
  padding-left: 10px;
  cursor: move;
  width: 100%;
  height: 35px;
  vertical-align: middle;
}

.winbox-title span{
  display: block;
  width: calc(100% - 120px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.winbox.min .winbox-title span {
  width: calc(100% - 65px);
}

.bar-n {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  cursor: n-resize;
  z-index: 11;
}

.bar-e {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  cursor: w-resize;
  z-index: 11;
}

.bar-s {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5px;
  cursor: n-resize;
  z-index: 11;
}

.bar-w {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 5px;
  cursor: w-resize;
  z-index: 11;
}

.bar-nw {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
  cursor: nw-resize;
  z-index: 11;
}

.bar-ne {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 5px;
  cursor: ne-resize;
  z-index: 11;
}

.bar-sw {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5px;
  height: 5px;
  cursor: ne-resize;
  z-index: 11;
}

.bar-se {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 5px;
  height: 5px;
  cursor: nw-resize;
  z-index: 11;
}

.winbox-icon{
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  padding-right: 2px;
}

.winbox-icon span{
  display: inline-block;
  width: 30px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

span.icon-min {
  background-image: url(@minus);
  background-position: center bottom 5px;
  background-size: 14px 14px;
}

.winbox.min .icon-fullscreen,
.winbox.min .icon-min {
  display: none;
}

.icon-max {
  background-image: url(@autofit);
  background-size: 18px 18px;
}

.icon-close {
  //float: right;
  background-image: url(@close);
  background-size: 15px 15px;
}

.icon-fullscreen {
  background-image: url(@maximize);
  background-size: 17px 17px;
}

/*
.winbox:fullscreen .icon-fullscreen{
  background-image: url(@minimize);
}
*/

/*
.winbox:fullscreen > div,
.winbox:fullscreen .winbox-title,
*/
.winbox.min > div,
.winbox.min .winbox-title,
.winbox.max > div,
.winbox.max .winbox-title{
  cursor: default;
}

.winbox .winbox-hide{
  display: none
}

.winbox iframe{
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
}