*{
    box-sizing: border-box;
    touch-action: manipulation;
}
html, body{
    margin: 0;
    padding: 0;
    border: 0;
    background: linear-gradient(135deg, #0d1117, #131820);
}
body{
    font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Open Sans", OpenSans, Roboto, Segoe UI, sans-serif;
    text-align: center;
    color: #fff;

    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    /*content-visibility: auto;*/
}
.background{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(13, 17, 23, 0.94);
    padding: 15px 0;
    border-bottom: 1px solid #1c2431;
    z-index: 2;
}
.wrapper{
    position: relative;
    display: block;
    margin: auto;
    max-width: 600px;
    text-align: left;
    padding: 1.2em;
    padding-top: 90px;
    z-index: 1;
}
pre{
    -webkit-touch-callout: default !important;
    -webkit-user-select: text !important;
    -khtml-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
}
a{
    display: inline-block;
    color: #3374ff;
    text-decoration: none;
    font-weight: 600;
}
b{
    display: block;
    padding: 10px;
}
button{
    padding: 5px 10px;
    margin-bottom: 5px;
}
h1{
    margin: 0;
    padding: 0;
}
h1 img{
    width: 100%;
    height: auto;
}
h2{
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
}
h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin:0;
}
hr{
    border: 0;
    border-bottom: 1px solid #1c2431;
    margin-bottom: 20px;
    padding-top: 20px;
}
.button {
    display: inline-block;
    background-color: #0050ff;
    color: #fff;
    width: auto;
    border-radius: 10px;
    padding: 15px 25px;
    cursor: pointer;
}
pre{
    display: inline-block;
    margin: auto;
    text-align: left;
    width: 100%;
    max-width: calc(100vw - 1.7em);
}
pre code.hljs{
    background: #181f2a;
    padding: 1em 1.5em;
    border-radius: 10px;
    width: 100%;
    max-width: calc(100vw - 1.7em);
}
.break{
    height: 18px;
}

@media (max-width: 600px) {
    .wrapper{
        padding-top: 70px;
    }
    .wrapper, pre{
        display: block;
    }
}

@media (max-height: 550px) {
    header{
        position: absolute;
    }
}

.wb-body {
    color: #000;
}
.wb-body > *{
    padding: 1.2em;
}
.winbox.iframe .wb-body > *{
    padding: 0;
}
.winbox.iframe .wb-body{
    background: linear-gradient(135deg, #0d1117, #131820);
}

.hljs{
    color: #fff4ec;
}
.hljs-attr {
    color:#79c0ff
}
.hljs-name,
.hljs-built_in {
    color: #ffa657;
}
.hljs-attribute{
    color: #e0e7ff
}
.hljs-selector-class {
    color: #79c0ff
}

.hljs-keyword,
.hljs-selector-tag {
    color: #f92672
}

.hljs-bullet,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-quote,
.hljs-regexp {
    color: #d2a8ff
}
